a {
	color: green;
	text-decoration: underline;
	cursor: pointer;
}

.clientId {
	display: inline-block;
	max-width: 46ch;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: darkblue;
}

.breadcrumb {
	display: inline;
	margin: 2px;
	border: 1px solid lightgray;
}

.loading > * {
	opacity: .5;
	pointer-events: none;
}

.loading::after {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	content: "LOADING";
	font-family: sans-serif;
	font-weight: bold;
	font-size: 3em;
	opacity: .7;
}
