body {
	background-color: #004400;
	color: white;
	font-family: 'Tachoma', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: lime;
	text-decoration: underline;
	cursor: pointer;
}

button, input {
	border: 1px solid currentcolor;
	border-radius: 5px;
	background: none;
	color: inherit;
	font-size: 1em;
	padding: 4px;
}

button {
	cursor: pointer;
}

button:hover {
	background-color: rgba(0, 255, 0, .3);
}

input {
	background-color: rgba(255, 255, 255, .2);
	outline: none;
}

header {
	background-color: green;
	color: white;
	padding: 30px;
	font-size: 1.7em;
}

body > :not(header) {
	margin: 32px;
}

.clientId {
	display: inline-block;
	max-width: 46ch;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: lightgreen;
}

.part {
	margin: 10px;
}

.breadcrumb {
	display: inline;
	margin: 2px;
}

.loading > * {
	opacity: .5;
	pointer-events: none;
}

.loading::after {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	content: "LOADING";
	font-family: sans-serif;
	font-weight: bold;
	font-size: 3em;
	opacity: .7;
}
